/*@import 'core/variables';


@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import 'core/reset';

.favorite {
  border: 5px solid purple;
  border-radius: 10px;
}

.btnRemove {
  color: purple;
  font-size: 32px;
}

.hidden {
  display: none;
}
