@import 'core/variables';
@import 'core/reset';

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 30px;
  background-image: url('../images/anime.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title {
  color: $colorPrimari;
  font-size: 50px;
  font-weight: bold;
  font-family: $font;
}

.input {
  font-size: 28px;
  font-family: $font;
  color: $colorSecundari;
  border-radius: 10px;
  border: solid 5px $colorSecundari;
  padding: 10px;
  margin-right: 20px;
}
.btn {
  font-size: 24px;
  font-family: $font;
  color: $colorPrimari;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: solid 5px $colorPrimari;
  margin: 10px;
  background-color: $colorSecundari;
}
.seriesAnime {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  padding-top: 50px;
  background-color: $colorSecundari;
  min-height: 500px;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: $font;
  color: $colorPrimari;
  font-weight: 500;
  padding-bottom: 20px;
}

.ulContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 1.25rem;
  gap: 1.25rem;
  padding: 50px;
}

.ulFavorites {
  grid-template-columns: 1fr;
  width: 300px;
}
.liContainer {
  font-size: 24px;
  font-family: $font;
  color: $colorPrimari;
  text-align: center;
  padding: 10px;
  border: 5px solid $colorPrimari;
  border-radius: 10px;
  position: relative;
  h2 {
    padding: 20px;
    line-height: 28px;
  }
}

.favorite {
  border: 5px solid $colorFavorite;
  background-color: $colorPrimari;
  color: $colorFavorite;
}

.btnRemove {
  color: $colorPrimari;
  font-size: 38px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 10px;
}

.btnResetFav {
  margin-left: 50px;
}

.hidden {
  display: none;
}
